body {
  font-family: Arial, sans-serif;
  background-color: #d4b7f3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; /* Add this to position child elements absolutely */
}

.header {
  margin-bottom: 10px;
  color: white;
  font-size: 2em;
  font-family: Mohave;
}

.app {
  text-align: center;
}

.left-images {
  position: absolute; /* Position absolutely within the body */
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.left-images img {
  display: block;
}

.background1 {
  position: relative; 
  width: 160px;
  top: 50px; 
  left: 0; 
  z-index: 1; 
}

.background2 {
  position: absolute; 
  width: 110px;
  top: 0px; 
  left: 0;
  z-index: 2; 
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3; 
}

.registration-form {
  background-color: #2d2d44;
  border-radius: 30px;
  padding: 20px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form h1 {
  color: white;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.registration-form h2 {
  color: #b8e68b;
  margin-bottom: 20px;
}

.input-field {
  margin: 10px 0;
  width: 100%;
  position: relative;
  
}

.input-field input {
  width: 85%; 
  padding: 10px 0px 10px 40px;
  margin: 5px auto; 
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #6C727F;
  color: white;
  
  
}

.input-field input::placeholder {
  color: #a1a1a1;
  transform: translateY(1px); 
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
}


.error-message {
  background-color: #AE2D5D;
  color: white;
  padding: 15px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  width: 90%;
}

.error-icon {
  margin-right: 10px;
  width: 20px; 
  height: 20px; 
}

.error-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  text-size-adjust: 5;
}

.error-title {
  font-weight: bold;
  margin: 0;
}

.error-detail {
  margin: 0;
  line-height: 1.2; 
}

button {
  background-color: #b8e68b;
  color: #2d2d44;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 95%; 
  margin-top: 10px;
}

button.not-filled {
  background-color: #A15FF4;
  color: white;
}

button.filled {
  background-color: #B1E457;
  color: #2d2d44;
}

button:hover {
  background-color: #a4d776;
}

p {
  color: #ffffff;
  margin-top: 20px;
}

a {
  color: #b8e68b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 10px;
  color: #a1a1a1;
  font-family: Mohave;
}


.user-info-page {
  background-color: #2d2d44;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  margin: 20px auto;
  text-align: left;
}

.user-info-page h2 {
  color: #b8e68b;
  margin-bottom: 20px;
}

.user-info-page p {
  margin: 10px 0;
}

@media (max-width: 600px) {
  .left-images {
    display: none;
  }
}